.main-footer {
    background-color: #0f172a;
    color: #f8fafc;
    padding: 60px 0 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 0 30px 40px 30px;
}

.footer-column {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    padding-right: 20px;
}

.f-logo-link {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    text-decoration: none;
}

/* IMAGEN MUY PROTAGONISTA */
.f-logo-img {
    height: 60px; /* Tamaño máximo para que se aprecie el detalle */
    width: auto;
}

.f-logo-text {
    font-size: 1.8rem;
    font-weight: 900;
    color: white;
}

.f-title {
    color: #3b82f6;
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.f-nav a {
    display: block;
    color: #94a3b8;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 0.95rem;
}

.footer-bar {
    background: #020617;
    padding: 20px;
    color: #64748b;
    font-size: 0.8rem;
}

.footer-bar-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}