.map-container-cyber {
    border: 1px solid var(--ice-cyan);
    box-shadow: 0 0 15px rgba(34, 211, 238, 0.2);
    padding: 5px;
    background: rgba(1, 10, 16, 0.8);
    border-radius: 4px;
}

/* Filtro para que el mapa se vea más azul/frío */
.leaflet-container {
    filter: hue-rotate(180deg) invert(90%) contrast(90%) brightness(110%);
}

.popup-tech {
    font-family: 'JetBrains Mono', monospace;
    color: #010a10;
    font-weight: bold;
}